
.template-one-container {
  margin-top: 3vh;
  margin-bottom: 1vh;
  display: flex;
  flex-direction: row;

  .image-wrapper {
    flex: 1 0 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 1vh;
    padding-left: 1vh;

    .column-type1,
    .column-type2 {
      width: calc(25% - 1vw);
      margin-bottom: 2vh;
      display: flex;
      flex-direction: column;
      align-items: center;

      .square,
      .rectangle {
        margin-bottom: 3.3vh;
        img {
          width: 12vw;
          height: auto;
          box-shadow: 0px 0.4vw 0.6vw rgba(0, 0, 0, 0.4);
        }
      }

      .rectangle {
        perspective: 1000px;
        width: 12vw;
        height: 71vh;
        cursor: pointer;
        img {
          width: 12vw;
          height: 71vh;
          transition: transform 0.6s;
          transform-style: preserve-3d;
          box-shadow: 0px 0.4vw 0.6vw rgba(0, 0, 0, 0.4);
        }
        .flip-container {
          width: 100%;
          height: 100%;
          position: relative;
        }

        .flipper {
          transition: transform 0.6s;
          transform-style: preserve-3d;
          position: absolute;
          width: 100%;
          height: 100%;
        }

        .front,
        .back {
          backface-visibility: hidden;
          position: absolute;
          width: 100%;
          height: 100%;
        }

        .front {
          z-index: 2;
          transform: rotateY(0deg);
        }

        .back {
          transform: rotateY(180deg);
        }

        .flipped .flipper {
          transform: rotateY(180deg);
        }
      }
    }

    .column-type1 {
      .rectangle {
        order: 2;
      }
    }

    .column-type2 {
      .square {
        order: 2;
      }
    }
  }

  .video-container {
    flex: 1 0 40%;
    height: 98vh;
    overflow: hidden;

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center 20%;
    }
  }

  // Media query for smaller screens

  @media (max-width: 950px) {
    // Adjust the pixel value as needed
    flex-direction: column;
    align-items: center;

    .image-wrapper {
      flex: 1 0 60%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .column-type1,
      .column-type2 {
        width: calc(25% - 6vw);
        margin-bottom: 2vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 5px;

        .square,
        .rectangle {
          margin-bottom: 3.3vh;
          img {
            width: 20vw;
            height: auto;
            box-shadow: 0px 0.4vw 0.6vw rgba(0, 0, 0, 0.4);
          }
        }
        .rectangle {
            width: 20vw;
            height: 71vh;
            img {
              width: 20vw;
              height: 71vh;
              box-shadow: 0px 0.4vw 0.6vw rgba(0, 0, 0, 0.4);
            }
        }
      }

      .column-type1 {
        .rectangle {
          order: 2;
        }
      }
  
      .column-type2 {
        .square {
          order: 2;
        }
      }
    }

    .video-container {
        flex: 0 0 auto;
        width: 85vw; // Adjust the size as needed
        height: 55vw;
  
        video {
          width: 100%;
          height: 100%;
          object-position: center 20%;
        }
      }
  }

}
